/* Resets and Variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #DAFFFB;
  --main-text: #04364A;
  --border: #64CCC5;
  --box-fill: #176B87;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

/* Header */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text);
  font-weight: 800;
  font-size: 75px;
  margin-left: 135px;
}

/* Board Layout with Options */
.container {
  display: flex;
  justify-content: center; 
}

.game-options {
  display: flex;
  flex-direction: column;
}

.game-board {
  width: 500px;
  min-height: 500px;
  background-color: white;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1.5px 1.5px 1.5px 1.5px var(--main-text);
}

/* Game Board */
.cell.reset{
  margin: 0px;
  background-color: white;
}

/* Buttons */
 


/* Footer */
.footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-text);
}

a {
  text-decoration: none;
  color: var(--main-text);
}